BasedOnStyle: Google
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
NamespaceIndentation: All
FixNamespaceComments: true
